html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: #7cea9c
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
  margin-top: 0;
}
h3{
    font-size: 30px;
    color:#6cbeed
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}




header, 
footer {
  background: #f17300;
  color: #f3efe0;
}
header h1,
header h2 {
    color: #f3efe0;
    margin: 0;
}


header {
  text-align: center;
}
.profile-img {
  
  border-radius: 50%;
}


footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

.art{
    color: #f17300;

}
.cooking{
  color: #f17300;
}

.gardening{
    color: #f17300;

}
